version: "2.2"
services:
  backend:
    build: .
    container_name: sisom-backend
    ports:
      - "3010:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    volumes:
      - ./uploads:/app/uploads
    restart: unless-stopped
